[Desktop Entry]
Name=LinVAM
Comment=Linux Voice Activated Macros
GenericName=Linux Voice Activated Macros
Exec=linvam
Type=Application
Categories=Game;Utilities;
StartupWMClass=linvam
Terminal=false
