[Desktop Entry]
Name=LinVAM
Comment=Linux Voice Activated Macros
GenericName=Linux Voice Activated Macros
Exec=linvam
Icon=linvam
Type=Application
Categories=Game;Utilities;
StartupWMClass=python3
Terminal=false
